body {
	background: url("assets/stars.gif");
	font-family: "Comic Sans MS", "Comic Sans", ChalkboardSE-Regular, cursive;
	text-align: center;
}

.cat {
	background: url("assets/brutus.png");
	transform: scale(2);
	width: 239px;
	height: 141px;
    margin: 100px;
	margin-left: auto;
	margin-right: auto;
}

.rainbow {
	background: url("assets/rainbow.gif");
	width: 600px;
	height: 1px;
	margin: auto;
}

a {
	color: #00FFFF;
}

.selected {
	color: #008888;
}

h1, h2, h3, h4, p {
  color: #FFD700;
}

p {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.container {
    width: 1000px;
    height: 100%;
    border: 2px solid black;
    box-sizing: border-box;
}

img {
	width: 600px;
}

.webring img {
	width: 88px;
}

span.line{
  color: red;
}

/* Animation */

.blink {
	-webkit-animation: blink .75s linear infinite;
	-moz-animation: blink .75s linear infinite;
	-ms-animation: blink .75s linear infinite;
	-o-animation: blink .75s linear infinite;
	 animation: blink .75s linear infinite;
}

@-webkit-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-moz-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-ms-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}
@-o-keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}

@keyframes blink {
	0% { opacity: 1; }
	50% { opacity: 1; }
	50.01% { opacity: 0; }
	100% { opacity: 0; }
}